@import "../Utils";

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
}

// Form stylings

.form {
    transition: 250ms;
    padding-top: 10px;
    height: fit-content;
    width: 350px;
    padding-left: 20px;
    margin-right: 60px;
    h1 {
        height: 1px;
        width: 310px;
        font-size: 30px;
        font-family: $font;
        text-align: center;
    }

    &__spacer { height: 20px; }

    &__form {
        display: flex;
        flex-direction: column;

        &-input { @include InputStyles; }
    }

    &__button-container {
        display: flex;
        align-items: center;
        margin-top: 60px;
        height: fit-content;
    }

    &__button {
        height: 40px;
        width: 150px;
        border: 1px solid $primary-color;
        background: $primary-color;
        font-family: $font;
        border-radius: 5px;
        color: white;
        margin-left: 8px;
        cursor: pointer;
        transition: 250ms;
        &:hover { background-color: $hover-color; }
    }

    &__toggleText {
        margin-left: 10px;
        font-size: 14px;
        width: 390px;

        &-interactive {
            color: $primary-color;
            cursor: pointer;
            transition: 250ms;

            &:hover { color: $hover-color; }
        }
    }
}