@import "../Utils";

.profile {
  display: flex;
  height: 100vh;

  &__spacer {
    height: 40px;
    width: 6px;
    background-color: transparent;
    margin-top: 20px;
  }

  &__main {
    width: 82%;
    height: 100%;
    overflow-y: auto;
    @include noScrollBar;

    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      &_img {
        margin-top: 50px;
      }

      &_post-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: space-around;
      }
    }

    &_name {
      font-family: $font;
    }
  }
}
