@import "../Utils";

// Parent class declaration

.settings {
    display: flex;

    &__main {
        display: flex;
        flex-direction: column;
        width: 82%;
        height: 100%;
    }
    
    &__head {
        display: flex;
        align-items: center;

        &_title {
            margin-left: 40px;
            margin-right: 10px;
        }
    }

    &__theme-options {
        display: flex;
        flex-direction: column;
    }

    &__subtitle { margin-left: 40px; }
}

.logout-btn {
    border: none;
    padding: 10px;
    background: white;
    box-shadow: $dark-shadow;
    border-radius: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
}

.theme-option {
    height: 50px;
    width: 30%;
    text-align: left;
    padding: 16px;
    margin-left: 40px;
    margin-top: 10px;
    font-family: $font;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: $dark-shadow;
    cursor: pointer;
    transition: 250ms;
    align-items: center;
    display: flex;

    &:hover { background: lightgray; }
    &__icon {
        margin-right: 10px;
        margin-top: 2px;
    }
}

.color-input {
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}