{
  "extends": ["next/core-web-vitals", "next", "./node_modules/@tea-share/packages/config/.eslintrc"],
  "rules": {
    "no-html-link-for-pages": "off",
    "react-hooks/rules-of-hooks": "off"
  }
}
