# Web & Server ("development" | "production")
# Use to test the apps in a production environment.
NODE_ENV=development

# Server
NODE_PRIVATE_FRONTEND_WEB_URL="Website URL"
NODE_PRIVATE_MONGO_DB_CONNECTION_URL="MongoDB URL"

# Web
NEXT_PUBLIC_FIREBASE_API_KEY="Firebase API Key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="Firebase Auth Domain"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="Firebase Database URL"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="Firebase Project ID"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="Firebase Storage Bucket"
NEXT_PUBLIC_FIREBASE_MESSAGE_SENDER_ID="Firebase Message Sender ID"
NEXT_PUBLIC_FIREBASE_APP_ID="Firebase App ID"
NEXT_PUBLIC_BACKEND_URL="Backend Server URL"

NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION_TOKEN="Google Verification Token"
NEXT_PUBLIC_YANDEX_SITE_VERIFICATION_TOKEN="Yandex Verification Token"

# Special variable for the website to use @next/bundle-analyzer
# Used to analyze the size of different packages in the bundle of the Website.
ANALYZE_BUNDLE=false