{
  "root": true,
  "ignorePatterns": ["types"],
  "parser": "./web/node_modules/@typescript-eslint/eslint-plugin",
  "parserOptions": {
    "tsconfigRootDir": "./web",
    "project": "./web/tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["./web/node_modules/@typescript-eslint"],
  "extends": ["./web/node_modules/@typescript-eslint/recommended", "./web/node_modules/@typescript-eslint/recommended-requiring-type-checking"],
  "rules": {
    "quotes": "off",
    "curly": "off",
    "react-hooks/exhaustive-deps": "off",
    "react-native/no-inline-styles": "off",
    "react/no-unstable-nested-components": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "no-var": "error"
  }
}
