{
  "root": true,
  "ignorePatterns": ["types"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "quotes": "off",
    "curly": "off",
    "react-hooks/exhaustive-deps": "off",
    "react-native/no-inline-styles": "off",
    "react/no-unstable-nested-components": "off",
    "react-hooks/rules-of-hooks": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "no-var": "error"
  }
}
