*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

secret_keys.dart

node_modules
.env
.env.local

gradle-wrapper.jar
.gradle
captures
gradlew
gradlew.bat
local.properties
GeneratedPluginRegistrant.java

key.properties
*.keystore
*.jks

# Remove after available

mobile
tea_share