@import "../Utils";

.google-btn {
  width: 250px;
  border: 2px solid $custom-gray;
  border-radius: 5px;
  background: white;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 250ms;

  &:hover { background: $custom-gray; }

  &__text {
    font-family: $font;
    margin-left: 10px;
  }
}