@import "../Utils";

@mixin rightRoundedContainer {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar {
    height: 100vh;
    width: 260px;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    box-shadow: $dark-shadow;
    @include noScrollBar;
    @include rightRoundedContainer;
    overflow-y: auto;

    &__logo {
        cursor: pointer;
        padding: 20px;
        height: 140px;
        width: 100%;
        border-top-right-radius: 10px;

        &-container { height: 140px; }
    }

    &__user-wrapper {
        height: 60px;

        &_image {
            border-radius: 100%;
            position: absolute;
            height: 105px;
            align-self: center;
            margin-top: 140px;
            border: 2px solid gray;
            padding: 1px;
            background: white;
        }

        &_title {
            align-self: center;
            font-weight: bold;
            padding-top: 55px;
            font-size: 22px;
        }
    }
    
    &__option {
        display: flex;
        width: 100%;
        background: transparent;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-family: $font;
        align-items: center;
        
        &-active_indicator {
            border-right: 6px solid transparent;
            height: 60px;
            @include rightRoundedContainer;
            margin-right: 30px;
        }

        &_wrapper {
            width: 100%;
            height: 100%;
        }

        &:hover { background: #e6e7e8; }
        &-spacer { width: 5px; }
    }

    #options {
        margin-top: 0px;
        padding-left: 0px;

        p {
            color: gray;
            font-size: 18px;
            font-family: $font;
            line-height: 1px;
            margin-left: 30px;
            transition: 250ms;
            margin-bottom: 30px;
        }
    }
}