// Page styles
@import "pages/Auth";
@import "pages/Home";
@import "pages/Settings";
@import "pages/Profile";
@import "pages/PostInfo";
@import "pages/Create";
@import "pages/Users";

// Component styles
@import "components/Sidebar";
@import "components/Navbar";
@import "components/GoogleButton";
@import "components/Post";

// Miscellaneous
@import "Utils";
@import "Theme";

// Boilerplate styles
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, $font, sans-serif;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $selection-color;
}

::selection {
  background: $selection-color;
}
