@import "Utils";

// Dark mode declaration

.dark-page {
  background-color: black;
  color: white;

  .dark-container { background-color: $dark-gray; }

  .user-side-dark-view {
    background: $semi-gray;
    color: white;
    border-color: $dark-gray;

    .user-side-view__header { border-bottom-color: $dark-gray; }
  }

  .dark-list {
    background-color: $dark-gray;
    border-color: $semi-gray;

    &__item {
      border-color: $semi-gray;

      &:hover { background-color: $semi-gray; }
    }
  }

  .dark-shadow { box-shadow: $light-shadow; }

  .dark-bar {
    box-shadow: $light-shadow;

    .dark-option:hover {
      background-color: $dark-gray;
    }
  }

  .dark-form {
    box-shadow: $light-shadow;
  }

  .dark-input {
    background: $semi-gray;
    border-color: $semi-gray;
    color: white;
  }
}