@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable";
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  @apply w-4;
}

*::-webkit-scrollbar-track {
  @apply rounded-lg;
}

*::-webkit-scrollbar-thumb {
  @apply h-14 rounded-lg border-4 border-solid border-transparent bg-[#888] bg-clip-content;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-[#555];
}

::selection {
  @apply bg-[rgba(0,153,255,0.247)];
}

@layer base {
  a {
    @apply no-underline;
  }

  * {
    @apply box-border outline-1 outline-[#29d];
    scrollbar-width: none;
  }
}

@keyframes fade-in {
  from {
    @apply opacity-0;
  }
}

@keyframes fade-out {
  to {
    @apply opacity-0;
  }
}

@keyframes slide-from-right {
  from {
    @apply translate-x-[30px];
  }
}

@keyframes slide-to-left {
  to {
    @apply -translate-x-[30px];
  }
}

#main-view::view-transition-old(#main-view) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

#main-view::view-transition-new(#main-view) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
