@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter Variable";
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background: rgba(0, 153, 255, 0.247);
}

.track {
  animation: marquee 15s linear infinite;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@layer base {
  a {
    @apply no-underline;
  }

  * {
    @apply box-border outline-1 outline-[#29d];
    scrollbar-width: none;
  }

  ::file-selector-button {
    font-family: "Inter", sans-serif;
    @apply bg-primary hover:bg-primary-dark border-px border-primary mr-2 cursor-pointer rounded-xl border-none p-3 text-white duration-200;
  }
}

@layer utilities {
  .dark-gradient {
    background: radial-gradient(circle at top, #3f6be9, #000000);
  }

  .light-gradient {
    background: radial-gradient(circle at top, #738cf2, #ffffff);
  }

  .input {
    @apply border-light-gray focus:border-primary dark:border-semi-gray dark:bg-semi-gray
    border-px ml-1 mt-5 w-full rounded-md p-4 outline-none duration-200 dark:text-white;
  }

  .btn {
    @apply bg-primary p-10px hover:bg-primary-dark border-px border-primary flex w-36
    cursor-pointer items-center justify-center rounded-md text-center text-white duration-200;
  }
}

#user-dropdown + #user-dropdown-menu {
  @apply hidden;
}

#user-dropdown:checked + #user-dropdown-menu {
  @apply block;
}
