<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5062740729-ejbsj176q7ajlou2g5tcnd4ocv0q5p5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5062740729-ejbsj176q7ajlou2g5tcnd4ocv0q5p5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5062740729-ied64vj2ksruko37qvambhpc9ve0k6a9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxLVU3y9dYv6-obqOfzzuQN2s798DZlws</string>
	<key>GCM_SENDER_ID</key>
	<string>5062740729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tea-share</string>
	<key>PROJECT_ID</key>
	<string>tea-share-e6fd0</string>
	<key>STORAGE_BUCKET</key>
	<string>tea-share-e6fd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5062740729:ios:719d56dea90550b220b028</string>
	<key>DATABASE_URL</key>
	<string>https://tea-share-e6fd0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>