{
  "extends": ["../.eslintrc", "next", "next/core-web-vitals"],
  "rules": {
    "no-html-link-for-pages": "off",
    "import/no-anonymous-default-export": "off",
    "react-hooks/rules-of-hooks": "off"
  }
}
